<!-- /components/singleProduct.html -->


  <a href="" class="anchor" onclick="" style="text-decoration: none; margin-left: 30px;margin-right: 10px;margin-top: 20px; margin-bottom: 20px;" >
    <div class="bg-white text-dark m-2 p-2 rounded-3 border-0 d-block justify-content-center align-items-center click" style="
      width: 440px;
      height: 320px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    "
    onmouseover="this.style.transform='translateY(-10px)'; this.style.boxShadow='0.5rem 0.5rem 1rem rgba(0,0,0,0.15)'"
    onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='none'"
    >
      <img 
        class="object-fit-cover rounded-3 mt-2 d-flex justify-content-center image" 
        src="../FurnituresCategory/FurnituresImages/" 
        alt="" 
        style="width: 400px; height: 200px; object-fit: cover;margin-left: 10px; margin-right: 10px;"
      >
      <h4 class=" d-flex justify-content-start mt-2 productName" style="margin-left: 10px;"></h4>
  
      <span class="d-inline-block text-start discountPrice" style="font-size: 20px; margin-left: 10px">₹</span>
      <small class="text-danger ms-2" style="font-size: 15px;margin-left: 10px;">M.R.P <s class="actualPrice">₹</s></small>
      
    </div>
   
  </a>



