<img class="object-fit-cover rounded-3 image" src="../FurnituresCategory/FurnituresImages/" alt="" style="width: 500px; height: 500px; cursor: pointer" />
<span>
    <h1 class="" style="margin-left: 30px; color: #0b2b2c"></h1>
    <span class="d-inline-block text-start discountPrice"
        style="font-size: 30px; margin-left: 30px; margin-top: 10px"><b style="font-size: 40px; font-weight: 500">Price
            - </b class="discountPrice">₹</span><small class="text-danger ms-2"
        style="font-size: 20px; margin-left: 10px">M.R.P <s class="actualPrice">₹</s></small>

    <h3 class="" style="margin-left: 30px; color: #375657; margin-top: 10px">
        About Product
    </h3>

    <div class="" style="margin-top: 10px; font-size: 17px">
        <span class="description" style="text-align: justify; display: block; margin-left: 35px">Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Modi tenetur
            veritatis, a impedit, dolorem laboriosam quaerat hic tempore ad
            repellendus, deserunt ut distinctio molestias eos accusamus velit atque
            aliquid animi! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Alias quis dolore minus eveniet maiores blanditiis perferendis
        </span>
    </div>
    <a href="#" class="w-auto">
        <button class="custom-button">Add to Cart</button>
    </a>
</span>





<!-- <img class="object-fit-cover rounded-3 single" src="" alt="" style="width: 500px; height: 500px; cursor: pointer" />
<span>
    <h1 class="" style="margin-left: 30px; color: #0b2b2c"></h1>
    <span class="d-inline-block text-start discountPrice"
        style="font-size: 30px; margin-left: 30px; margin-top: 10px"><b style="font-size: 40px; font-weight: 500">Price
            - </b class="discountPrice">₹</span><small class="text-danger ms-2"
        style="font-size: 20px; margin-left: 10px">M.R.P <s class="actualPrice">₹</s></small>

    <h3 class="" style="margin-left: 30px; color: #375657; margin-top: 10px">
        About Product
    </h3>

    <div class="" style="margin-top: 10px; font-size: 17px">
        <span class="description" style="text-align: justify; display: block; margin-left: 35px">Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Modi tenetur
            veritatis, a impedit, dolorem laboriosam quaerat hic tempore ad
            repellendus, deserunt ut distinctio molestias eos accusamus velit atque
            aliquid animi! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Alias quis dolore minus eveniet maiores blanditiis perferendis
        </span>
    </div>
    <a href="#" class="w-auto">
        <button class="custom-button">Add to Cart</button>
    </a>
</span> -->